/*
 * Nextflow config for nvim-theme pipeline
 */

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    container = 'samesense/nvim-theme-tools:py311'
}

params {
    img = null
    imgs = null
    palette = 'auto'
}

profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }
}

manifest {
    name = 'nvim-theme-pipeline'
    description = 'Generate Catppuccin-style Neovim themes from images'
    version = '1.0.0'
    author = 'Perry'
}
